<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


  <appender name="regularConsole" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %c: %m%n"/>
      </layout>
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
          <param name="LevelMin" value="TRACE" />
          <param name="LevelMax" value="INFO" />
      </filter>
  </appender>

  <appender name="errorConsole" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.err"/>
      <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %c: %m%n"/>
      </layout>
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
          <param name="LevelMin" value="WARN" />
          <param name="LevelMax" value="FATAL" />
      </filter>
  </appender>

    <!--Корневой logger-->

    <category name="org.apache.http">
        <priority value="OFF" />
    </category>

  <root>
    <priority value ="trace" />
    <appender-ref ref="regularConsole" />
    <appender-ref ref="errorConsole" />
  </root>


</log4j:configuration>
